@media only screen and (min-width: 64em) {
    .container {
        display: grid; 
        grid-template-columns: 5fr 1fr;
    }
    .searchbox {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media only screen and (max-width: 48em) {
    .container {
        display: grid; 
        grid-template-columns: 5fr 1fr;
    }
    .searchbox {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}


@media only screen and (max-width: 40em) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .searchbox {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

